body{
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

}
#calculator{
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(251, 255, 0);
    border-radius: 2px;
    max-width: 50 px;
overflow: hidden;
}
#display{
    width: 100%;
    padding: 2px;
    font-size: 0.5rem;
    text-align: left;
    border: none;
    background-color: rgb(100, 102, 4);
    color: white
}
#keys{
display: grid;
grid-template-columns: repeat(4,1fr);
gap: 1px;
padding: 2.5px;
}
button{
    width: 10px;
    height: 10px;
    border-radius: 4px;
    border: none;
    background-color: black;
    color: white;
    font-size: 0.2rem;
    font-weight: bold;
    cursor: pointer;
}
button:hover{
    background-color:rgb(52, 52, 52) ;
}
button:active{
    background-color: rgb(246, 230, 111);
}
.operator-btn{
    background-color: rgb(65, 66, 60);
}
.operator-btn:hover{
    background-color: rgb(132, 134, 127);
}
.operator-btn:active{
    background-color:rgb(181, 183, 177) ;
}